/* 
.navbar-brand {
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 10px;
} */


.weather-icon {
  width: 20px;
}

.header-logo .logo {
  font-size: 10px;
}

#Layer_1 {
  width: 5px;
  color: red;
}

.h-subscribe {
  background-color: white;
}

.main-title {
  text-transform: uppercase;
}

.card-subtitle {
  text-transform: capitalize;
}

.card-text {
  text-transform: lowercase;
}

.feat-news a > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}